<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoEzGKsa0RljppnFzQ2tb3EoWHkjgr78M</string>
	<key>GCM_SENDER_ID</key>
	<string>1049228021692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cinemapp</string>
	<key>PROJECT_ID</key>
	<string>cinem-app-7lxnx5</string>
	<key>STORAGE_BUCKET</key>
	<string>cinem-app-7lxnx5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049228021692:ios:af19d9b82269e9a347a5b9</string>
</dict>
</plist>